---
// Component Imports
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"

---
<Layout>
  <Header />
  <section
    class="container bg-erieblack text-orange mainsection titlesection"
    id="titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <h2 class="cover my-2 text-center">404</h2>
        <p class="lead text-center w-75 mx-auto my-3">
        
          <span class="">
			<strong>Sorry, aber diese Seite gibt es leider nicht. </strong>
			<br>
			<a href="/kontakt#contentStart" class="btn btn-erieblack m-2">Kontakt</a>
          </span>
        </p>
      </div>
    </div>

  </section>
  <Footer />
</Layout>
