---
// Component Imports
import {Image, Picture} from "@astrojs/image/components"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import ich from "/src/assets/images/tobe_astronaut.jpg"

---

<script>
  import ArrowScroller from "../modules/ArrowScroll"
  ArrowScroller()
</script>

<Layout>
  <Header />
  <section
    class="container bg-erieblack text-orange mainsection titlesection"
    id="titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <h2 class="cover my-2 text-center">Warum Tobeworks?</h2>
        <p class="lead text-center w-75 mx-auto my-3">
          <strong>Weil ich echten Mehrwert schaffe.</strong>
          <br />
          <span class="d-none d-sm-inline fs-6">
            Tobeworks ist die ideale Wahl, wenn es darum geht, echten Mehrwert
            zu schaffen. Aufgewachsen mit digitalen Technologien von Dotcom über
            Web 2.0 bis chatGPT, bin ich bestens ausgebildet und stets auf dem
            neuesten Stand der Technik. <br />
            <!-- Als Software-Engineer ist es mir eine Leidenschaft, innovative Lösungen
            zu entwickeln, die Ihre Anforderungen erfüllen und Ihnen einen echten
            Wettbewerbsvorteil verschaffen. Lassen auch Sie sich von meinen Fähigkeiten
            und Kenntnissen überzeugen und profitieren Sie von einer erfolgreichen
            Zusammenarbeit. -->
          </span>
        </p>
      </div>
    </div>
    <a href="#" class="title-arrow-down">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>
  <section class="bg-silver text-erieblack mainsection" id="contentStart">
    <div class="row">
      <div class="col-md-4 col-lg-6">
        <!-- <Image
          src={ich}
          width={400}
          alt="Tobias Lorsbach 2022"
          aspectRatio="4:6"
          class={`border-2`}
        /> -->
        <Picture
          src={ich}
          alt="Tobias Lorsbach 2022"
          widths={[250, 300, 350, 500]}
          sizes="(max-width: 450px) 250px, (max-width: 1200px) 300px, (min-width: 1200px) 500px, 300px"
          formats={["webp"]}
          class={`picborder`}
        />
      </div>
      <div class="col-md-8 col-lg-6">
        <h3 class="small mt-2">Tobias Lorsbach</h3>

        <h1 class="mb-3 pt-md-2 pt-sm-4">Founder</h1>
        <p>
          Als Fullstack Webdeveloper, <a href="https://logic-moon.de" target="_blank">Musik-Produzent</a> und allgemeiner Tech-Nerd verfüge ich über eine breit gefächerte
          Erfahrung in der Software-Entwicklung, im Webdesign und in
          verschiedenen Digital-Technologien, die ich in mehr als zwei Dekaden
          interdisziplinärer Arbeit erworben habe. <br /> Mit meinem geschärften
          Blick für zukünftige Entwicklungen bin ich immer auf dem neuesten Stand
          der Technik und biete Ihnen daher innovative Lösungen für Ihre Projekte
          an.
          <a href="#!" class="btn btn-erieblack m-5">Jetzt kostenloses Gespräch vereinbaren</a>
        </p>
        <h5 class="mt-5">Kernkompetenzen</h5>
        <ul class="list-inline">
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">WebEntwicklung</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Konzeption</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">UI/UX</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Frontend</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Backend</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Webdesign</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Migration</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Security</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">App-Entwicklung</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">SEO</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">PHP</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Python</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Javascript</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">HTML</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">CSS</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">mySQL</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Postgres</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Linux</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Elasticsearch</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Symfony</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Wordpress</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Vue</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">React</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Ionic Framework</span>
          </li>
        </ul>
        <div class="pt-0 d-inline-block">
          <h4 class="d-inline-block">
            <a href="https://twitter.com/tobeworks" target="_blank" class="">
              <i class="fab fa-twitter fa-lg text-erieblack" aria-hidden="true"
              ></i>
            </a>
          </h4>
          <h4 class="d-inline-block">
            <a
              href="https://www.facebook.com/tobeworks"
              target="_blank"
              class="">
              <i class="fab fa-facebook fa-lg text-erieblack" aria-hidden="true"
              ></i>
            </a>
          </h4>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
