---
// Component Imports
import {Image, Picture} from "@astrojs/image/components"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import ich from "/src/assets/images/tobe_astronaut.jpg"
---

<script>
  import ArrowScroller from "../modules/ArrowScroll"
  ArrowScroller()
</script>

<Layout title="Über Tobeworks">
  <Header />
  <section
    class="container bg-erieblack text-orange mainsection titlesection"
    id="titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <h2 class="cover my-2 text-center">What about Tobeworks?</h2>
        <p class="lead text-center w-75 mx-auto my-3">
          <strong
            >Einzigartige Lösungen für einzigartige Kunden!</strong
          >
          <br />
          <!-- <span class="d-none d-sm-inline fs-6">
            Tobeworks ist die ideale Wahl, wenn es darum geht, echten Mehrwert
            zu schaffen. Aufgewachsen mit digitalen Technologien von Dotcom über
            Web 2.0 bis chatGPT, bin ich bestens ausgebildet und stets auf dem
            neuesten Stand der Technik. 
          </span> -->
        </p>
      </div>
    </div>
    <a href="#" class="title-arrow-down">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>
  <section class="bg-silver text-erieblack mainsection" id="contentStart">
    <div class="row">
      <div class="col-md-4 col-lg-6">
        <Picture
          src={ich}
          alt="Tobias Lorsbach 2022"
          widths={[250, 300, 350, 500]}
          sizes="(max-width: 450px) 250px, (max-width: 1200px) 300px, (min-width: 1200px) 500px, 300px"
          formats={["webp"]}
          class={`picborder`}
        />
      </div>
      <div class="col-md-8 col-lg-6">
        <h3 class="small mt-2">Tobias Lorsbach</h3>

        <h1 class="mb-3 pt-md-2 pt-sm-4">
          Founder <br /><small>(und Hobby Astronaut)</small>
        </h1>
        <p>
          <b
            >Ich bin Fullstack Web-Developer, Software-Architekt,<br> <a href="https://logic-moon.de" target="_blank">Musik-Produzent<a > und
            leidenschaftlicher Tech-Nerd.</b
          ><br /><br>
          Ich könnte Dir jetzt erzählen, wie ich über zwei Dekaden hinweg mein
          Know-how in der Software-Entwicklung und Webdesign aufgebaut habe. Aber
          das wäre langweilig, oder?<br> Stattdessen verrate ich lieber das Geheimnis
          meines Erfolgs: Ich habe für Tobeworks ein Dreamteam von anderen Techies,
          WebDesignern, Textern, die mir den Rücken freihalten und mich unterstützen,
          wenn ich mal wieder in der Welt des Codes verloren gehe. So kann ich mich
          ganz auf die Bereiche konzentrieren, in denen ich wirklich gut bin - und
          Du profitierst von innovativen Lösungen für deine Projekte. 
        </p>
        <div class="fw-bold my-4">
          Lass uns schnacken! Ich beiße nicht - versprochen. <br /> Vereinbare jetzt
          dein unverbindliches Erstgespräch und schnapp dir direkt eine kostenlose und unverbindliches Website-Audit.
          <div>
            <a href="/kontakt" class="btn btn-erieblack"
              >Hier entlang <i class="fa-light fa-caret-right"></i></a>
          </div>
        </div>
        <h5 class="mt-5">
          Meine Kernkompetenzen (langweilig aber gut für`s Ego)
        </h5>
        <ul class="list-inline">
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">WebEntwicklung</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Konzeption</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">UI/UX</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Frontend</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Backend</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Webdesign</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Migration</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Security</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">App-Entwicklung</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">SEO</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">PHP</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Python</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Javascript</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">HTML</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">CSS</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">mySQL</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Postgres</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Linux</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Elasticsearch</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Symfony</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Wordpress</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">VueJS</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">React</span>
          </li>
          <li class="list-inline-item">
            <span class="badge bg-erieblack badge-pill">Ionic Framework</span>
          </li>
        </ul>
        <div class="pt-0 d-inline-block">
          <h4 class="d-inline-block">
            <a href="https://twitter.com/tobeworks" target="_blank" class="">
              <i class="fab fa-twitter fa-lg text-erieblack" aria-hidden="true"
              ></i>
            </a>
          </h4>
          <h4 class="d-inline-block">
            <a
              href="https://www.facebook.com/tobeworks"
              target="_blank"
              class="">
              <i class="fab fa-facebook fa-lg text-erieblack" aria-hidden="true"
              ></i>
            </a>
          </h4>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
