---
// Component Imports
import MainPage from "../components/Main-Page.vue";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Layout from "../layouts/Layout.astro";

//const projects = await Astro.glob('./project/**/*.md');
---

<Layout>
  <Header />
<section class="container-fluid portfolio-top">

    <div class="container">
        <div class="head d-flex align-items-center justify-content-between">
            <h3>Impressum</h3>
        </div>
    </div>
</section>



<section class="bg-silver text-erieblack contentsection">
    <img src="/images/logos/TW%20Black.png" alt="TW Logo Black" width="120"><br>
    <strong>Tobeworks Websolutions<br />
		</strong> Neue Universitätsstraße 7<br> 55116 Mainz<br><br> Festnetz: 06131/9011446<br> Mobil: 0179/1259004 <small><br>(bitte per <a href="{{ path('kontakt') }}">Mail</a> einen Telefontermin vereinbaren)</small> <br />
    <p class="reverse"><a href="/kontakt">ed.skrowebot@ollah</a></p>

    Geschäftsführung: Tobias Lorsbach<br /> Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz: DE 021 843 01420<br />
    <br /> Haftungshinweis: Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links.<br /> F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.</p>
    <br />

</section>
  <Footer />
</Layout>
