---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import MailForm from '../components/MailForm.jsx';
import ich from "/src/assets/images/tobe_astronaut.jpg"

---
<script>
  import ArrowScroller from "../modules/ArrowScroll"
  ArrowScroller()
</script>
<Layout  title="Tobeworks - Kontakt">
  <Header />

  <section class="container bg-erieblack text-orange mainsection titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <h2 class="cover my-2 text-center">Write me something sweet!</h2>
        <p class="lead text-center w-75 mx-auto my-3"></p>
      </div>
    </div>
    <a href="#!" class="title-arrow-down" rel="nofollow" title="arrow link">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>
  <section id="contentStart" class="bg-silver text-erieblack mainsection">

    <div class="container-fluid kontaktformular" id="kontaktformular">

      <div class="row">
        <div class="col-lg-8 p-2 p-md-5">
          <MailForm client:load  />
        </div>
        <div class="col-lg-4 kontakt-right-col">
          <div class="py-5">
            <div class="card card-kontakt">
              <div class="card-body">
                <div class="card-text">
                  <ul class="text-lg-left list-unstyled ml-4">
                    <li>
                      <p class="text-center">

                        <img
                          src={ich.src}
                          class="img-fluid img-thumbnail picborder"
                          alt="tobe"
                        />
                      </p>
                    </li>
                    <li>
                      <h5>Tobeworks - Websolutions</h5>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-user pr-2" aria-hidden="true"></i>
                        Tobias Lorsbach
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-map-marker pr-2"></i>
                        Neue Universitätsstraße 7, 55116 Mainz
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-phone pr-2"></i>
                        06131/<span class="">9011446</span><br />
                        <small
                          >(bitte vorher per Mail Telefontermin vereinbaren)</small
                        >
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-mobile pr-2"></i>
                        0179/1259004<br />
                        <small
                          >(bitte vorher per Mail Telefontermin vereinbaren)</small
                        >
                      </p>
                    </li>
                    <li>
                      <p>
                        <i class="fa fa-envelope pr-2"></i>
                        <span class="reverse">ed.skrowebot@ollah</span>
                      </p>
                    </li>
                  </ul>
                </div>
                <hr />
                <div class="text-center">
                 <a href="https://www.twitter.com/tobeworks" class="card-link">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.xing.to/tobeworks" class="card-link">
                    <i class="fab fa-xing" aria-hidden="true"></i>
                  </a>
                  <a
                    href="https://www.linkedin.com/in/tobias-lorsbach-7a9506170/"
                    class="card-link"
                  >
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#" class="card-link">
                    <i class="fab fa-skype" aria-hidden="true"></i>
                  </a>
                  <a
                    rel="me"
                    href="https://dasauge.de/-tobeworks/"
                    title="Tobias Lorsbach bei dasauge"
                    target="_top"
                    class="card-link"
                    ><img
                      src="https://cdn.dasauge.net/prolinks/dasauge_16s.png"
                      alt="Tobias Lorsbach"
                      width="16"
                      height="16"
                      style="border:0; filter: grayscale(100%);"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
