---
// Component Imports
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import ImageWD from '../components/Image-WD.astro'
---

<script>
  import ArrowScroller from "../modules/ArrowScroll"
  ArrowScroller()
</script>
<Layout>
  <Header />
  
  <section class="container bg-erieblack text-orange titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <h2 class="cover my-2 text-center">Warum gerade Tobeworks?</h2>
        <p class="lead text-center w-75 mx-auto my-3">
Tobeworks macht deine Website zum Star des Internets - ganz ohne Schummeln oder Tricks! Wie wir das machen? Na, das ist doch klar: mit unserem geballten Wissen und unserer langjährigen Erfahrung. Wenn du einmal mit TW zusammenarbeitest, gibt es kein Zurück mehr - du wirst dich fragen, wie du jemals ohne uns auskommen konntest! <br>  Willkommen zum Point Of No Return.
        </p>
      </div>
    </div>
    <a href="#!" class="title-arrow-down" rel="nofollow" title="arrow link">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>


  <section
    class="bg-silver text-erieblack content-leistungen"
    id="contentStart">
    <h3 class="h1-typo2" data-aos="fade-up">Was macht die Zusammenarbeit mit Tobeworks so besonders?</h3>
    <p data-aos="fade-up">
      Beim Responsive Webdesign handelt es sich um ein gestalterisches und
      technisches Paradigma zur Erstellung von Websites, so dass diese auf
      Eigenschaften des jeweils benutzten Endgeräts, vor allem Smartphones und
      Tabletcomputer, reagieren können.<br />
      <ImageWD />
      <a href="/webdesign-mainz-wiesbaden">Mehr erfahren</a>
    </p>
  </section>

  <Footer />
</Layout>
