---
// Component Imports
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
---

<script>
  import ArrowScroller from "../modules/ArrowScroll"
  ArrowScroller()
</script>
<Layout>
  <Header />
  <section class="container bg-erieblack text-orange titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <h2 class="cover my-2 text-center">Lösungen</h2>
        <p class="lead text-center w-75 mx-auto my-3">
          Für Web, digitale Kommunikation und die Aufgaben von morgen.<br />
          Ob <b>Webdesign</b>, <b>Webapplikation</b> oder <b>mobile Apps</b>:
          Hier kommt alles aus einer Hand.<br> #root
        </p>
      </div>
    </div>
    <a href="" class="title-arrow-down">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>
  <section
    class="bg-silver text-erieblack content-leistungen"
    id="contentStart">
    <h3 class="h1-typo2" data-aos="fade-up">Responsive Webdesign</h3>
    <p data-aos="fade-up">
      Beim Responsive Webdesign handelt es sich um ein gestalterisches und
      technisches Paradigma zur Erstellung von Websites, so dass diese auf
      Eigenschaften des jeweils benutzten Endgeräts, vor allem Smartphones und
      Tabletcomputer, reagieren können.<br />
      <a href="/webentwicklung/webdesign-mainz-wiesbaden">Mehr erfahren</a>
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">Content-Management-Systeme</h3>
    <p data-aos="fade-up">
      Ein Content-Management-System ist eine Software zur gemeinschaftlichen
      Erstellung, Bearbeitung und Organisation von Inhalten zumeist in
      Webseiten, aber auch in anderen Medienformen. Diese können aus Text- und
      Multimedia-Dokumenten bestehen. Zur schnellen Entwicklung von
      CMS-basieriren Webseitne nutzen wir <a href="#jumptowordpress"
        >Wordpress</a
      >.
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">E-Commerce</h3>
    <p data-aos="fade-up">
      Ein Onlineshop ist eine spezielle Form des Versandhandels, bei dem ein
      Händler oder Hersteller gewerbliche Waren oder Dienstleistungen zum
      Verkauf oder zur Miete anbietet. Die Kommunikation zwischen Anbieter und
      Interessenten erfolgt zum großen Teil über das Internet.
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">Webanwendungen</h3>
    <p data-aos="fade-up">
      Eine Webanwendung (auch Online-Anwendung, Webapplikation oder kurz
      Web-App) ist ein Anwendungsprogramm nach dem Client-Server-Modell. Anders
      als klassische Desktopanwendungen werden Webanwendungen also nicht lokal
      auf dem Rechner des Benutzers installiert und dort ausgeführt.
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">Mobile Apps</h3>
    <p data-aos="fade-up">
      Speziell plattformunabhängige Apps, die auf beiden gängingen
      Betriebssystemen (iOS und Android), auf Tablets sowie als PWA (<a
        href="https://de.wikipedia.org/wiki/Progressive_Web_App"
        >Progressive Web App</a
      >) läuffähig sind, nennen sich Hybrid Apps. Der Vorteil: man muss sie
      statt für jedes OS eizneln nur einmal entwicklen, sie sind aber läuffähig
      auf unterschiedlichen Typen von Endgeräten. Ihr Leistungsumfang ist mit
      nativen Apps fast identisch. Wir sind spezialisiert auf die Integration
      der Wordpress REST API in mobile Apps
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">Server</h3>
    <p data-aos="fade-up">
      Tobeworks administriert Ihren Miet-Server, hält die Dienste auf dem
      neusten Stand, macht den Server sicher und kümmert sich um das Backup
      Ihrer wertvollen Daten.
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">Suchmaschinen Optimierung (SEO)</h3>
    <p data-aos="fade-up">
      SEO bezeichnet Maßnahmen, die dazu dienen, dass Webseiten und deren
      Inhalte im organischen Suchmaschinenranking (Natural Listings) auf
      vorderen Plätzen erscheinen. Durch das bewusste Beeinflussen der
      Platzierungen von Webseiten, Bildern, Videos oder anderen Inhalten bei
      Suchmaschinen soll deren Reichweite erhöht werden.
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">APIs</h3>
    <p data-aos="fade-up">
      Eine Programmierschnittstelle, genauer Schnittstelle zur
      Anwendungsprogrammierung, häufig nur kurz API genannt (englisch
      application programming interface, wörtlich
      ‚Anwendungs­programmier­schnittstelle‘), ist ein Programmteil, der von
      einemSoftwaresystem anderen Programmen zur Anbindung an das System zur
      Verfügung gestellt wird.
    </p>
  </section>

  <section
    class="bg-silver text-erieblack content-leistungen"
    id="jumptowordpress">
    <h3 class="h1-typo2" data-aos="fade-up">Wordpress</h3>
    <p data-aos="fade-up">
      WordPress ist eine freie Webanwendung und Content-Management-System zur
      Verwaltung der Inhalte einer Website.
      <br /><a href="/wordpress/entwicklung">Mehr erfahren</a>
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">Cloud Computing</h3>
    <p data-aos="fade-up">
      Tobeworks hostet Ihren privaten Cloudserver. Greifen Sie per Web, Desktop,
      Tablet und Smartphone jederzeit auf Ihre Daten zu. Die Installation,
      Einrichtung und Administration übernimmt Tobeworks für Sie.
    </p>
  </section>

  <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">
      Hosting (zB Wordpress, private Cloud oder Landingpages)
    </h3>
    <p data-aos="fade-up">
      Ein Hosting-Provider bietet und betreibt Internet-Hosting-Dienste und die
      dafür notwendige Infrastruktur für Angebote seiner Kunden im Internet.
    </p>
  </section>

  <!-- <section class="bg-silver text-erieblack content-leistungen">
    <h3 class="h1-typo2" data-aos="fade-up">Cryptocurrencies und Blockchain</h3>
    <p data-aos="fade-up">
      Kryptowährungen und Blockchain-Anwendungen sind in aller Munde und stellen
      den nächsten Schritt in Richtung Dezentralisierung dar. Wir beraten Sie
      bei allen technischen Details, helfen bei der Auswahl von Token und Coins,
      zeige Ihnen Kniffe bei diversen Exchanges und kümmern uns um die
      reibungslose Installation von Wallets.
    </p>
  </section> -->


  <Footer />
</Layout>
