---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { Picture } from '@astrojs/image/components';
import getucated_img_mobile from '/src/assets/images/mockups/getucated_mobile.png';
import mockup_ayur from '/src/assets/images/mockups/ayur_mockups_home.png';
import logicmoon_full from '/src/assets/images/mockups/logicmoon_full.png';
import logicmoon_mobile from '/src/assets/images/mockups/logicmoon_mobile.png';
---
<script>
  import ArrowScroller from '../modules/ArrowScroll';
  ArrowScroller();
</script>
<Layout>
  <Header />
<section class="container bg-erieblack text-orange mainsection  titlesection">

		<div class="row">
			<div class="col-sm align-self-center title-lead">
				<h2 class="cover my-2 text-center">Was mache ich so?</h2>
				<p class="lead text-center w-75 mx-auto my-3"></p>
			</div>
		</div>
		<a href="#!" class="title-arrow-down">
			<i class="bi bi-arrow-down-short"></i>
		</a>
	</section>

	<section class="bg-silver  portfolio-row">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7">
					<img class="card-img-top d-block d-sm-none" src="/src/assets/images/mockups/home_mobile.png" alt="Rosenberg Ayurveda">
					<!-- <img class="card-img-top d-none d-sm-block" src="/src/assets/images/mockups/ayur_mockups_home.png" width="350" alt="Rosenberg Ayurveda"> -->
					 <Picture class="card-img-top d-none d-sm-block" src={mockup_ayur} alt="Rosenberg Ayurveda" widths={[650]}  ></Picture> 
				</div>
				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">Rosenberg Ayurveda</h5>
						<h6 class="card-subtitle mb-2 text-muted">Shop System</h6>
						<p class="card-text">HTML5 Code, CSS, Effects, Frontend-Entwicklung</p>
						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-bootstrap"></i>
						</p>
						<p class="card-footer">
							<span class="badge bg-erieblack">HTML</span>
							<span class="badge bg-erieblack">Adobe XD</span>
							<span class="badge bg-erieblack">NPM</span>
							<span class="badge bg-erieblack">CSS</span>
							<span class="badge bg-erieblack">Bootstrap 5</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-silver  portfolio-row" id="contentStart">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7">
					<Picture class="card-img-top d-block d-sm-none border mt-3" src={getucated_img_mobile} alt="Getucated App" widths={[300]}  ></Picture> 
					<!-- <img class="card-img-top d-block d-sm-none border mt-3" src="/src/assets/images/mockups/getucated_mobile.png" alt="Getucated App"> -->

					<div id="carouselIndicators" class="carousel slide d-none d-sm-block" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="/src/assets/images/portfolio/getucated-app.png" class="d-block" alt="...">
							</div>

							<div class="carousel-item">
								<div class="mx-auto">
									<img src="/src/assets/images/portfolio/getucated-app2.webp" class="d-block" alt=" ...">

								</div>
							</div>
							<div class="carousel-item">

								<div class="mx-auto">
									<img src="/src/assets/images/portfolio/getucated-app3.webp" class="d-block" alt="...">
								</div>

							</div>

						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Zurück</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Vor</span>
						</button>
					</div>


				</div>
				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">Getucated</h5>
						<h6 class="card-subtitle mb-2 text-muted">Hybrid App für iOS und Android</h6>
						<p class="card-text">Frontend- und Backend-Entwicklung, technische Leitung</p>
						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-npm"></i>
							<i class="fab fa-js"></i>
						</p>
						<p class="card-footer">
							<span class="badge bg-erieblack">HTML</span>
							<span class="badge bg-erieblack">CSS</span>
							<span class="badge bg-erieblack">NPM</span>
							<span class="badge bg-erieblack">Typescript</span>
							<span class="badge bg-erieblack">Ionic Framework</span>
							<span class="badge bg-erieblack">Capacitor</span>
							<span class="badge bg-erieblack">iOS</span>
							<span class="badge bg-erieblack">Android</span>

						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="bg-silver  portfolio-row">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7" style="min-height: 450px;">

					<Picture class="card-img-top d-block d-sm-none pt-5" src={logicmoon_mobile} widths={[300]} alt="Logic Moon"></Picture>
					<Picture class="card-img-top d-none d-sm-block pt-5" src={logicmoon_full} widths={[650]}  alt="Logic Moon"></Picture> 
					<!-- <img class="card-img-top d-block d-sm-none" src="/src/assets/images/portfolio/mobile/logicmoon.png" alt="Logic Moon">
					<img class="card-img-top d-none d-sm-block" src="/src/assets/images/portfolio/logicmoon.png" width="350" alt="Logic Moon"> -->
					</div>

				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">Logic Moon</h5>
						<h6 class="card-subtitle mb-2 text-muted">Portfolio-Webseite</h6>
						<p class="card-text">HTML5 Code, CSS, Effects, Frontend-Entwicklung</p>
						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-bootstrap"></i>
							<i class="fab fa-npm"></i>

						</p>
						<p class="card-footer">
							<span class="badge bg-erieblack">HTML</span>
							<span class="badge bg-erieblack">Adobe XD</span>
							<span class="badge bg-erieblack">NPM</span>

							<span class="badge bg-erieblack">CSS3</span>
							<span class="badge bg-erieblack">Bootstrap 5</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-silver  portfolio-row">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7">
					<img class="img-fluid d-none d-sm-block" src="/src/assets/images/portfolio/gsp.png" alt="GSP Steuern Webdesign">
					<img class="img-fluid d-block d-sm-none" src="/src/assets/images/portfolio/mobile/gsp.png" alt="GSP Steuern Webdesign">
				</div>
				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">GSP-Steuern</h5>
						<h6 class="card-subtitle mb-2 text-muted">Steuerberatung</h6>
						<p class="card-text">Backend- und Frontend-Entwicklung in Wordpress 5, technische Leitung</p>

						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-wordpress"></i>
						</p>

						<p class="card-footer">
							<span class="badge bg-erieblack">Wordpress 5</span>
							<span class="badge bg-erieblack">HTML5</span>
							<span class="badge bg-erieblack">DIVI</span>
						</p>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="bg-silver  portfolio-row">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7">
					<img class="img-fluid d-none d-sm-block" src="/src/assets/images/portfolio/iihd.png" alt="IIHD Webseite">
					<img class="img-fluid d-block d-sm-none" src="/src/assets/images/portfolio/mobile/iihd.png" alt="IIHD Webseite">
				</div>
				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">IIHD</h5>
						<h6 class="card-subtitle mb-2 text-muted">Content-Portal</h6>
						<p class="card-text">Backend- und Frontend-Entwicklung in Wordpress 5, Projekt-Management, technische Leitung</p>

						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-wordpress"></i>
							<i class="fab fa-js-square"></i>
							<i class="fab fa-php    "></i>
						</p>
						<p class="card-footer">
							<span class="badge bg-erieblack">PHP</span>
							<span class="badge bg-erieblack">Wordpress 5</span>
							<span class="badge bg-erieblack">HTML5</span>
							<span class="badge bg-erieblack">DIVI</span>
						</p>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="bg-silver  portfolio-row">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7">
					<img class="img-fluid d-none d-sm-block" src="/src/assets/images/portfolio/vr.png" alt="Vintage Revivals Webdesign">
					<img class="img-fluid d-block d-sm-none" src="/src/assets/images/portfolio/mobile/vr.png" alt="Vintage Revivals Webdesign">
				</div>
				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">Vintage Revivals</h5>
						<h6 class="card-subtitle mb-2 text-muted">Portfolio Website</h6>
						<p class="card-text">Wordpress CMS</p>
						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-wordpress"></i>
						</p>

						<p class="card-footer">
							<span class="badge bg-erieblack">Wordpress</span>
							<span class="badge bg-erieblack">HTML5</span>
							<span class="badge bg-erieblack">Bootstrap 3</span>
						</p>
					</div>
				</div>
			</div>

		</div>
	</section>


	<section class="bg-silver  portfolio-row">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7">
					<img class="img-fluid d-none d-sm-block" src="/src/assets/images/portfolio/rp24.png" alt="Restposten24 Webdesign">
					<img class="img-fluid d-block d-sm-none" src="/src/assets/images/portfolio/mobile/rp24.png" alt="Restposten24 Webdesign">
				</div>
				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">Restposten24</h5>
						<h6 class="card-subtitle mb-2 text-muted">B2B-Handelsplattform</h6>
						<p class="card-text">Komplette Backend- und Fontend-Entwicklung in PHP5/7, HTML5, CSS, Bootstrap, technische Leitung</p>

						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-bootstrap"></i>
							<i class="fab fa-js-square"></i>
							<i class="fab fa-php"></i>
						</p>
						<p class="card-footer">
							<span class="badge bg-erieblack">PHP</span>
							<span class="badge bg-erieblack">mySQL</span>
							<span class="badge bg-erieblack">Linux</span>
							<span class="badge bg-erieblack">Elasticsearch</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-silver  portfolio-row">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7">
					<img src="/src/assets/images/shopmockup_full.png" class="img-fluid d-none d-sm-block" alt="image">
					<img src="/src/assets/images/shopmockup_small.png" class="img-fluid d-block d-sm-none" alt="image">
				</div>
				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">Medinform</h5>
						<h6 class="card-subtitle mb-2 text-muted">Shopsystem</h6>
						<p class="card-text">Aufbau Shopsystem, Kundenberatung, Koordiantion, Entwicklung, Design</p>
						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-wordpress"></i>
							<i class="fab fa-js-square"></i>
							<i class="fab fa-php"></i>
						</p>
						<p class="card-footer">
							<span class="badge bg-erieblack">HTML5</span>
							<span class="badge bg-erieblack">CSS3</span>
							<span class="badge bg-erieblack">Wordpress</span>
							<span class="badge bg-erieblack">Woocommerce</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="bg-silver  portfolio-row">
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-sm-7">
					<img class="img-fluid" src="/src/assets/images/portfolio/lul.png" alt="">
				</div>
				<div class="col-sm-5">
					<div class="card-body">
						<h5 class="card-title">Lifter und Lauch</h5>
						<h6 class="card-subtitle mb-2 text-muted">Portfolio Kooperationswebseite</h6>
						<p class="card-text">HTML5, CSS</p>
						<p class="card-text">
							<i class="fab fa-html5"></i>
							<i class="fab fa-css3"></i>
							<i class="fab fa-bootstrap"></i>
						</p>
						<p class="card-footer">
							<span class="badge bg-erieblack">HTML5</span>
							<span class="badge bg-erieblack">CSS3</span>
							<span class="badge bg-erieblack">Bootstrap</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
  <Footer />
</Layout>
