---
import CTR from '../components/CTR.astro';
---

<section class="bg-erieblack text-silver mainsection">
  <h2 data-aos="fade-up" class="text-center">Lass uns dein Business rocken!</h2>
  <p class="lead text-center" data-aos="fade-up">
    Wir sind hier, um deine Probleme zu lösen und maßgeschneiderte Lösungen für
    dein Unternehmen zu entwickeln.
  </p>

  <div class="p-2 p-md-5 text-center accordion">
    <div class="accordion accordion-flush" id="accordionFlushHelp">
      <div class="accordion-item" data-aos="fade-up">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed bg-orange text-erieblack fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne">
            Deine Webseite generiert kaum Benutzer-Zugriffe und noch weniger
            Anfragen
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushHelp">
          <div class="accordion-body bg-silver text-start">
            <p>
              Es gibt viele mögliche Gründe dafür, warum Ihre Webseite nicht
              genügend Traffic generiert und wenige Anfragen erhält. Hier sind
              einige mögliche Lösungen:
            </p>
            <ol>
              <li>
                Optimiere Deine Webseite für Suchmaschinen: Stelle sicher, dass
                Deine Webseite SEO-freundlich ist, indem Du relevante Keywords
                in Deinen Inhalten verwendest, Meta-Tags hinzufügst und Deine
                Webseite schnell lädt.
              </li>
              <li>
                Erstelle regelmäßig qualitativ hochwertige Inhalte: Füge Deiner
                Webseite regelmäßig neue und relevante Inhalte hinzu, die Deine
                Zielgruppe interessieren. Du kannst Blog-Posts, Infografiken,
                Videos und andere Formate verwenden.
              </li>
              <li>
                Nutze bezahlte Werbung: Erwäge die Verwendung von bezahlter
                Werbung wie Google Ads, um Deine Webseite zu bewerben und Deine
                Zielgruppe zu erreichen.
              </li>
              <li>
                Optimiere Deine Webseite für mobile Geräte: Stelle sicher, dass
                Deine Webseite auf mobilen Geräten optimal dargestellt wird und
                eine gute Benutzererfahrung bietet.
              </li>
              <li>
                Analysiere Deine Webseite mit Tools wie Google Analytics, um zu
                verstehen, wie Benutzer auf Deine Webseite zugreifen, welche
                Seiten am beliebtesten sind und wo die Abbruchraten hoch sind.
                Verwende diese Informationen, um Deine Webseite zu optimieren.
              </li>
              <li>
                <p>
                  Erwäge die Zusammenarbeit mit einem erfahrenen SEO-Experten,
                  der Deine Webseite analysieren und Optimierungsvorschläge
                  unterbreiten kann.
                </p>
              </li>
            </ol>

  <CTR />

          </div>
        </div>
      </div>

      <div class="accordion-item" data-aos="fade-up">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed bg-orange text-erieblack fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo">
            Deine Webseite hat Performance-Probleme und der Lighthouse-Score ist
            eher nicht so toll (alles unter 50)?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushHelp">
          <div class="accordion-body bg-silver text-start">
            <p>
              Keine Sorge, wir sind hier, um dir zu helfen! Hier sind ein paar
              Tipps, um deine Webseite wieder auf Vordermann zu bringen:
            </p>

            <ol>
              <li>
                Reduziere die Größe deiner Bilder: Bilder können viel Zeit beim
                Laden deiner Webseite in Anspruch nehmen, insbesondere wenn sie
                groß und unkomprimiert sind. Achte darauf, Bilder zu
                komprimieren und in einer geeigneten Größe hochzuladen.
              </li>

              <li>
                Verwende Caching: Durch das Caching deiner Webseite können
                Besucher die Seite schneller laden, da die Seite bereits in
                ihrem Browser zwischengespeichert wurde. Reduziere die Anzahl
                der HTTP-Anfragen: Jeder Aufruf von CSS-, JavaScript-, Bild-
                oder anderen Ressourcen auf deiner Webseite führt zu einer
                HTTP-Anfrage. Durch das Minimieren der Anzahl von HTTP-Anfragen
                kann deine Webseite schneller laden.
              </li>
              <li>
                Verwende ein Content Delivery Network (CDN): Ein CDN kann dazu
                beitragen, die Ladezeiten deiner Webseite zu verkürzen, indem es
                die statischen Ressourcen deiner Webseite von einem Server in
                der Nähe des Besuchers bereitstellt.
              </li>
              <li>
                Optimiere deine HTML-, CSS- und JavaScript-Dateien: Durch die
                Optimierung deiner Dateien kannst du die Größe reduzieren und
                die Ladezeiten deiner Webseite verkürzen. Überprüfe deine
                Hosting-Pläne: Eine schlechte Serverleistung kann ebenfalls die
                Ladezeiten deiner Webseite beeinträchtigen. Stelle sicher, dass
                dein Hosting-Plan deinen Anforderungen entspricht.
              </li>
            </ol>
            <CTR />
          </div>
        </div>
      </div>
      <div class="accordion-item" data-aos="fade-up">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed bg-orange text-erieblack fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree">
            Deine Seite wurde mit Wordpress entwickelt, und es fehlt an
            professioneller Betreung?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushHelp">
          <div class="accordion-body bg-silver text-start">
            Na, na, na, da scheint ja jemand ein bisschen vernachlässigt zu
            sein! Aber keine Sorge, wir sind da, um Ihnen zu helfen. Wenn Ihre
            WordPress-Seite ein bisschen Liebe und professionelle Betreuung
            benötigt, dann sind Sie bei uns genau richtig. Wir bieten alles, was
            Sie brauchen, um Ihre Webseite auf Vordermann zu bringen und Ihre
            Besucher zu begeistern. Von Design über Marketing bis hin zu Support
            - wir haben alles im Griff! Lassen Sie uns Ihre WordPress-Seite zum
            Strahlen bringen.
            <CTR />
          </div>
        </div>
      </div>

      <div class="accordion-item" data-aos="fade-up">
        <h2 class="accordion-header" id="flush-heading4">
          <button
            class="accordion-button collapsed bg-orange text-erieblack fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapse4"
            aria-expanded="false"
            aria-controls="flush-collapse4">
            Deine Wordpres-Seite wurde gehackt, zeigt einen weißen Screen
            (Whitescreen of Death) oder funktioniert sonst nicht wie erwartet?
          </button>
        </h2>
        <div
          id="flush-collapse4"
          class="accordion-collapse collapse"
          aria-labelledby="flush-heading4"
          data-bs-parent="#accordionFlushHelp">
          <div class="accordion-body bg-silver text-start">
            <p>
              Oh, richtig doof! Aber vielleicht hilft dir das weiter:
              <ol>
                <li>
                  Sicherheits-Scare: Vielleicht wurde deine Website gehackt,
                  weil deine Sicherheitsmaßnahmen nicht so stark sind, wie sie
                  sein sollten. Wenn du ein Passwort wie "123456" oder
                  "password" benutzt hast, dann wunder dich nicht, wenn jemand
                  deinen Account hackt! Auch veraltete WordPress-Versionen,
                  unsichere Plugins oder Themes und ungesicherte Server können
                  Sicherheitsprobleme verursachen - also immer schön aktuell
                  bleiben und sichern!
                </li>
                <li>
                  Plugin- oder Theme-Pannen: Ein fehlerhaftes Plugin oder Theme
                  kann schnell zu einem Totalausfall deiner Website führen.
                  Deshalb ist es super wichtig, regelmäßig alle Plugins und
                  Themes auf Updates zu checken und sicherzustellen, dass sie
                  mit deiner WordPress-Version kompatibel sind. Denn mal
                  ehrlich, wer will schon einen Whitescreen of Death?
                </li>
                <li>
                  Datenbank-Drama: Probleme mit der Datenbank können schnell zur
                  großen Katastrophe werden und deine Website komplett
                  lahmlegen. Das kann durch fehlerhafte Updates, falsche
                  Konfigurationen oder einfach unzureichende Speicherkapazität
                  passieren. Also immer schön aufpassen, was da so in der
                  Datenbank vor sich geht!
                </li>
              </ol>
            </p>
            <CTR />
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
