---
let {text} = Astro.props

const var_text = [
  "Los geht's",
  "Hier entlang",
  "Klick it",
  "Klick",
  "Schreib uns",
  "Jetzt durchstarten",
  "Kontakt aufnehmen",
  "Kontaktaufnahme",
]

if (text == undefined) {
  text = getRandomText(var_text)
}

function getRandomText(var_text = []) {
  const randomIndex = Math.floor(Math.random() * var_text.length)
  return var_text[randomIndex]
}
---

<div class="bg-silver border-orange-subtle p-3 text-center">
  <p>Du brauchst Hilfe oder Beratung?</p>
  <a href="/kontakt#contentStart" class="btn btn-erieblack"
    >{text} <i class="fa-light fa-caret-right"></i></a
  >
</div>
