---
const currentYear = new Date().getFullYear();
const Version = '6.0.0';
---
        <footer class="container" id="main-footer">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>navigation.</h4>
                        <ul class="nav flex-column footer-nav mb-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index') }}">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('kontakt') }}">Kontakt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('leistungen')}}">Leistungen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('portfolio')}}">Referenzen und Partner</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('about') }}">Über</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>tobeworks.</h4>
                        <ul class="nav flex-column footer-nav mb-3">
                            <li class="nav-item pr-2">
                                <a class="nav-link" href="">Tobias Lorsbach</a>
                            </li>
                            <li class="nav-item pr-2">
                                <a class="nav-link" href="">Neue Universitätsstraße 7, 55116 Mainz</a>
                            </li>
                            <li class="nav-item pr-2">
                                <a class="nav-link" href="">0179/1259004</a>
                            </li>
                            <li class="nav-item pr-2">
                                <a class="reverse nav-link" href="{{ path('kontakt') }}">ed.skrowebot@ollah</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>leistungen.</h4>
                        <ul class="nav flex-column footer-nav mb-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('webdesign-mainz') }}">Responsive Webdesign
                                    Mainz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('wordpress') }}">Wordpress</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('wordpress-programmierung') }}">Wordpress-Programmierer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('wordpress-wartung') }}">Wordpress-Wartung</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-target="#portfolio-modal" data-bs-toggle="modal" href="#">Webentwicklung und Mobile Apps aus Mainz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-target="#portfolio-modal" data-bs-toggle="modal" href="#">Rootserver-Administration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-target="#portfolio-modal" data-bs-toggle="modal" href="#">Suchmaschinen-Optimierung (SEO)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center pb-3 text-orange">
                <div class="p-3"><img src="src/assets/images/dreieck.svg" alt="Logo Dreieck" data-aos="fade-in" data-aos-delay="500" data-aos-duration="1000"></div>
                <b>{currentYear }</b>
                -
                { Version } - letzte Änderung: 09.2022<br>
                <a class="popover-link" data-bs-content="Dieses Theme wurde individuell in HTML 5, CSS, Symfony 4.4 unter Verwendung von Bootstrap 5.1 erstellt. Falls Sie Fragen zur Erstellung von individuellen Themes für z.B. Wordpress haben, nehmen Sie Kontakt zu uns auf. <a href='/kontakt'>Klick</a>" data-bs-placement="top" data-bs-toggle="popover" title="Themedesign">Theme by Tobeworks ©{currentYear}</a>

                <div class="my-2">
                    Made with <i class="fas fa-heart"></i> and <i class="fab fa-js-square"></i> 
                </div>

                <div class="fs-1 my-2">
                    <a href="https://github.com/Tobeworks" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <p>
                    <a href="/impressum">Impressum</a>
                    <a href="datenschutz">Datenschutz</a>
                </p>
                <a href="{{ path('app_login') }}">
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
            </div>
        </footer>
