---
import {Image, Picture} from "@astrojs/image/components"
import wd1 from '../assets/images/wd/wd_01.png'
import wd2 from '../assets/images/wd/wd_02.png'
import wd3 from '../assets/images/wd/wd_03.png'
import wd4 from '../assets/images/wd/wd_04.png'
import wd5 from '../assets/images/wd/wd_05.png'
import wd6 from '../assets/images/wd/wd_06.png'
import wd7 from '../assets/images/wd/wd_07.png'
import wd8 from '../assets/images/wd/wd_08.png'
import wd9 from '../assets/images/wd/wd_09.png'
import wd10 from '../assets/images/wd/wd_10.png'
import wd11 from '../assets/images/wd/wd_11.png'
import wd12 from '../assets/images/wd/wd_12.png'
import wd13 from '../assets/images/wd/wd_13.png'
import wd14 from '../assets/images/wd/wd_14.png'
import wd15 from '../assets/images/wd/wd_15.png'
import wd16 from '../assets/images/wd/wd_16.png'
import wd17 from '../assets/images/wd/wd_17.png'
import wd18 from '../assets/images/wd/wd_18.png'
import wd19 from '../assets/images/wd/wd_19.png'
import wd20 from '../assets/images/wd/wd_20.png'
import wd21 from '../assets/images/wd/wd_21.png'
import wd22 from '../assets/images/wd/wd_22.png';
import wd23 from '../assets/images/wd/wd_23.png';
import wd24 from '../assets/images/wd/wd_24.png';
import wd25 from '../assets/images/wd/wd_25.png';
import wd26 from '../assets/images/wd/wd_26.png';
import wd27 from '../assets/images/wd/wd_27.png';
import wd28 from '../assets/images/wd/wd_28.png';
import wd29 from '../assets/images/wd/wd_29.png';


const getImg = () =>{
    const image = [wd1,wd2, wd3, wd4, wd5,wd6,wd7,wd8,wd9, wd10, wd11, wd12, wd13, wd14, wd15, wd16, wd17, wd18,  wd19,  wd20, wd21,
    wd22, wd23, wd24, wd25, wd26, wd27, wd28, wd29];
    const randomIndex = Math.floor(Math.random() * image.length);
    return image[randomIndex];
}

---

<div class="d-flex justify-content-center p-3">
<Picture
  src={getImg()}
  alt="Webdesign"
  widths={[250, 300, 400, 800]}
  sizes="(max-width: 450px) 250px, (max-width: 1200px) 400px, (min-width: 1200px) 800px"
  formats={["webp"]}
  class={`my-3`}
/>
</div>
