      <div
        class="my-5 d-flex justify-content-center align-items-center text-center text-silver" data-aos="fade-up">
        <div class="w-25">
          <i class="fab fa-php logo-big" aria-hidden="true"></i>
        </div>
        <div class="w-25">
          <i class="fab fa-js logo-big" aria-hidden="true"></i>
        </div>
        <div class="w-25">
          <i class="fab fa-python logo-big" aria-hidden="true"></i>
        </div>
        <div class="w-25">
          <i class="fab fa-vuejs logo-big" aria-hidden="true"></i>
        </div>
        <div class="w-25">
          <i class="fab fa-react logo-big" aria-hidden="true"></i>
        </div>
      </div>