---
//import '../styles/styles.scss';
const {
	title = 'Tobeworks Websolutions',
	description = 'Tobeworks, Freelance Websolutions since 2018',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content="Astro, Vue, Bootstrap, Sass" />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="../assets/favicon.png" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

