<section class="container bg-erieblack text-orange" id="pagehero" style="">
  <div class="row align-items-center ">

    <div class="col-md-6 align-self-center ">
      <div class="leadblock">Lead</div>
      <h1 class="cover my-2 text-start ">Headline</h1>
      <p class="lead text-start w-75 mx-auto my-3">
        <strong>Teaser</strong>
      </p>
    </div>

    <div class="col-md-6 align-self-center ">
        Bild
    </div>

  </div>
</section>
<style lang="scss">
    #pagehero{
        background:  url('src/assets/images/header.jpg') no-repeat fixed;
        background-origin: content-box;
        background-size: cover;
         background-blend-mode: lighten;
        .leadblock{
            color: var(--silver);
        }
    }
</style>