<div class="py-2">
  <div class="row text-center">
    <h2 data-aos="fade-up" class="text-center">Social Web</h2>
    <div class="col-sm-6 col-lg-3 py-2">
      <div class="lc-block mb-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
          width="3em"
          height="3em"
          lc-helper="svg-icon"
          fill="currentColor">
          <path
            d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
          ></path>
        </svg>
      </div>
      <!-- /lc-block -->
      <div class="lc-block mb-4">
        <div>
          <p>
            <a
              href="https://www.facebook.com/tobeworks"
              target="_blank"
              class="h3 text-dark text-decoration-none">Facebook</a>
          </p>
        </div>
      </div>
      <div class="lc-block col-2 offset-5 border-bottom border-2 border-dark">
        <div></div>
      </div>
      <!-- /lc-block -->
    </div>
    <!-- /col -->
    <div class="col-sm-6 col-lg-3 py-2">
      <div class="lc-block mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          width="3em"
          height="3em"
          lc-helper="svg-icon"
          fill="currentColor">
          <path
            d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
          ></path>
        </svg>
      </div>
      <!-- /lc-block -->
      <div class="lc-block mb-4">
        <div>
          <p>
            <a
              href="https://www.linkedin.com/in/tobias-lorsbach-7a9506170/"
              target="_blank"
              class="h3 text-dark text-decoration-none">Linkedin</a>
          </p>
        </div>
      </div>
      <div class="lc-block col-2 offset-5 border-bottom border-2 border-dark">
        <div></div>
      </div>
      <!-- /lc-block -->
    </div>
    <!-- /col -->
    <div class="col-sm-6 col-lg-3 py-2">
      <div class="lc-block mb-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="3em"
          height="3em"
          lc-helper="svg-icon"
          fill="currentColor">
          <path
            d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
          ></path>
        </svg>
      </div>
      <!-- /lc-block -->
      <div class="lc-block mb-4">
        <div>
          <p>
            <a
              href="https://twitter.com/tobeworks"
              target="_blank"
              class="h3 text-dark text-decoration-none">Twitter</a>
          </p>
        </div>
      </div>
      <div class="lc-block col-2 offset-5 border-bottom border-2 border-dark">
        <div></div>
      </div>
      <!-- /lc-block -->
    </div>
    <!-- /col -->
    <div class="col-sm-6 col-lg-3 py-2">
      <div class="lc-block mb-3">
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 54 54"
          style="enable-background:new 0 0 54 54;"
          xml:space="preserve"
          width="3em"
          height="3em">
          <g>
            <rect x="-0.2" y="0.1" style="fill:none;" width="3em" height="3em"
            ></rect>
            <path
              d="M48.1,12.9v26.8c0,2.2-0.8,4.1-2.4,5.7c-1.6,1.6-3.5,2.4-5.7,2.4H13.3c-2.2,0-4.1-0.8-5.7-2.4c-1.6-1.6-2.4-3.5-2.4-5.7
		V12.9c0-2.2,0.8-4.1,2.4-5.7c1.6-1.6,3.5-2.4,5.7-2.4H40c2.2,0,4.1,0.8,5.7,2.4C47.3,8.8,48.1,10.7,48.1,12.9z M24.3,22.6
		c0,0-1.2-2.1-3.5-6.2c-0.4-0.6-0.9-0.9-1.5-0.9h-5.1c-0.3,0-0.6,0.1-0.7,0.3c-0.1,0.2-0.1,0.5,0,0.8l3.5,6v0l-5.5,9.7
		c-0.2,0.3-0.2,0.5,0,0.8c0.1,0.2,0.4,0.4,0.7,0.4h5.2c0.6,0,1-0.3,1.4-1L24.3,22.6z M41.7,8.7c-0.1-0.2-0.4-0.3-0.7-0.3h-5.2
		c-0.6,0-1,0.3-1.4,1L23,29.7c0,0,2.5,4.5,7.3,13.4c0.4,0.7,0.9,1,1.5,1h5.1c0.3,0,0.6-0.1,0.7-0.3c0.1-0.2,0.1-0.5,0-0.8l-7.3-13.3
		v0L41.7,9.5C41.9,9.2,41.9,9,41.7,8.7z"
            ></path>
          </g>
        </svg>
      </div>
      <!-- /lc-block -->
      <div class="lc-block mb-4">
        <div>
          <p>
            <a
              href="https://www.xing.com/profile/Tobias_Lorsbach"
              target="_blank"
              class="h3 text-dark text-decoration-none">Xing</a>
          </p>
        </div>
      </div>
      <div class="lc-block col-2 offset-5 border-bottom border-2 border-dark">
        <div></div>
      </div>
      <!-- /lc-block -->
    </div>
    <!-- /col -->
  </div>
</div>
