---
import MainHead from "../components/MainHead.astro";
import hamburgerClose from '@images/hamburger/_times.svg';
import logo from '@images/logos/TW-EB5E28.svg';
const { content } = Astro.props;
---

<script>
  import anime from "animejs";
  import * as bootstrap from "bootstrap";
  import AOS from "aos";
  import "../../node_modules/aos/dist/aos.css";
  import Typewriter from "typewriter-effect/dist/core";

  document.onreadystatechange = function () {
    AOS.init();

    var tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    var tooltipList = tooltipTriggerList.map((tooltipTriggerEl) => {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    const popoverTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="popover"]')
    );
    popoverTriggerList.map((popoverTriggerEl) => {
      return new bootstrap.Popover(popoverTriggerEl);
    });

    //arrowScroller();
    overlayMenu();
    anime({
      targets: ".stag-nav",
      translateY: [-50, 0],
      opacity: [0, 1],
      duration: 100,
      easing: "easeOutBounce",
      delay: anime.stagger(100), // increase delay by 100ms for each elements.
    });
    startTypwriter();
  };

  const startTypwriter = () => {
    var app = document.getElementById("typewriter");

    var typewriter = new Typewriter(app, {
      loop: true,
      delay: 35,
      deleteSpeed: 0.1,
    });

    const typewriterStrings = [
      document.getElementById("typewriter-hidden-1"),
      document.getElementById("typewriter-hidden-2"),
      document.getElementById("typewriter-hidden-3"),
    ];

    if (typewriterStrings[0] !== null) {
      typewriter
        .pauseFor(800)
        .typeString(typewriterStrings[0].innerHTML)
        .deleteChars(typewriterStrings[0].innerHTML.length)
        .pauseFor(100)
        .typeString(typewriterStrings[1].innerHTML)
        .deleteChars(typewriterStrings[1].innerHTML.length)
        .pauseFor(300)
        .typeString(typewriterStrings[2].innerHTML)
        .deleteChars(typewriterStrings[2].innerHTML.length)
        .pauseFor(500)
        .start();
    }
  };

  /*
   * Open Navmenu
   */
  const overlayMenu = () => {
    const navbarOpen = document.getElementById("navbar-toggle-open");
    const navbarClose = document.getElementById("navbar-toggle-close");
    const overlay = document.getElementById("overlay-menu");

    const HamburgerEfx = (id, direction = "out") => {
      let dir = [1, 0];
      if (direction == "in") {
        dir = [0, 1];
      }
      anime({
        targets: "#" + id,
        rotate: {
          value: 360,
          duration: 1200,
          easing: "easeInOutSine",
        },
        opacity: dir,
        baseFrequency: 0,
        loop: false,
        direction: "alternate",
        easing: "easeInOutExpo",
        complete: function (anim) {
          anim.reverse();
        },
      });
      //ani.reset();
    };

    navbarOpen.onclick = (e) => {
      e.preventDefault();
      //Hamburger
      HamburgerEfx("hamburger-bars", "out");
      //Overlay
      overlay.style.display = "block";
      anime({
        targets: "#overlay-menu",
        opacity: [0, 1],
        display: "block",
        baseFrequency: 0,
        loop: false,
        direction: "alternate",
        easing: "easeInOutExpo",
      });

      anime({
        targets: ".overlay-middle .stag-nav",
        opacity: [0, 1],
        delay: anime.stagger(150, { start: 1200 }), // increase delay by 100ms for each elements.
      });

      HamburgerEfx("hamburger-close", "in");
    };

    navbarClose.onclick = (e) => {
      e.preventDefault();

      anime({
        targets: "#overlay-menu",
        opacity: [1, 0],
        baseFrequency: 0,
        duration: 1200,
        loop: false,
        direction: "alternate",
        easing: "easeInOutExpo",
        complete: function (anim) {
          overlay.style.display = "none";
        },
      });

      HamburgerEfx("hamburger-close", "out");
      HamburgerEfx("hamburger-bars", "in");
    };
  };

  /**
   *  Scroll Function
   */
  // const scrollToFunc = (id, offset = 60) => {
  //   const element = document.getElementById(id);
  //   const headerOffset = offset;
  //   const elementPosition = element.offsetTop;
  //   const offsetPosition = elementPosition - headerOffset;
  //   document.documentElement.scrollTop = offsetPosition;
  //   document.body.scrollTop = offsetPosition; // For Safari
  // };
</script>

<MainHead
  title="Tobeworks Websolutions"
  description="Tobeworks, Freelance Websolutions since 2018"
/>

<body>
  <div class="container p-0">
    <div id="overlay-menu" class="bg-erieblack">
      <div class="navbar-toggle" id="navbar-toggle-close">
        <img
          src={hamburgerClose}
          id="hamburger-close"
          alt="hamburger"
        />
      </div>

      <div class="overlay-middle">
        <nav class="nav flex-column" id="fullscreen-menu">
          <a class="nav-link stag-nav active" href="/">Home</a>
          <a class="nav-link stag-nav" href="/about">About</a>
          <a class="nav-link stag-nav" href="/leistungen"
            >Lösungen</a>
          <a class="nav-link stag-nav" href="/projekte"
            >Projekte</a>
          <a class="nav-link stag-nav" href="/kontakt">Kontakt</a>
        </nav>
      </div>
      <div id="overly-logo-bottom">
        <img
          src={logo}
          alt="logo overlay"
          data-aos="fade-top"
          data-aos-delay="200"
        />
      </div>
    </div>
    <slot />
  </div>
</body>
