---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import Links from '../components/SEO-Linktree.vue'
import wpstroke from "../assets/images/carousel/wordpress_stroke.svg";
const {
  content: {title, teaser},
} = Astro.props
---

<Layout>
  <Header />
  <main>

      <section class="container bg-erieblack text-orange mainsection titlesection">
    <div class="row">
      <div class="col-sm align-self-center title-lead">
                <p class="text-center">
          <img
            src={wpstroke.src}
            class="img-fluid"
            alt="Wordpress logo"
            width="150"
          />
        </p>
        <h2 class="cover my-2 text-center">{title}</h2>
        <p class="lead text-center w-75 mx-auto my-3">
          <strong>{teaser}</strong
          >
        </p>
      </div>
    </div>
    <a href="#!" class="title-arrow-down" rel="nofollow" title="arrow link">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>
  <span id="contentStart"></span>

     <section class="bg-silver text-erieblack contentsection">
        <slot />
        <h3>Links zum Thema</h3>
        <Links />
     </section>
  </main>
  <Footer />
</Layout>