---
// Component Imports

import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import ButtonBlock from "../../components/ButtonBlock.astro";
import wpcoder from "/src/assets/images/wp-programmierer1.jpg";
import stroke from "/src/assets/images/carousel/wordpress_stroke.svg";
import wpcoder2 from "/src/assets/images/wp-programmierer0.jpg"

---

<script>
  import ArrowScroller from "../../modules/ArrowScroll";
  ArrowScroller();
</script>

<Layout>
  <Header />
  <section
    class="container bg-erieblack text-orange mainsection titlesection"
    id="titlesection"
  >
    <div class="row">
      <div class="col-sm align-self-center title-lead">
        <p class="text-center">
          <img
            src={stroke}
            class="img-fluid"
            alt="Wordpress logo"
            width="150"
          />
        </p>
        <h2 class="cover my-2 text-center">
          Wordpress?<br />Aber bitte richtig!
        </h2>
        <p class="lead text-center w-75 mx-auto my-3">
          <strong>Ich mache Wordpress von der Pieke auf.</strong>
          <br />
          High Performance, Plugin-Entwicklung, Theme Entwicklung, Code- Erweiterungen,
          Custom Post Types, User Management, AJAX, REST, Gutenberg. Also alles was
          Ihr Herz begehrt und noch mehr.
        </p>
      </div>
    </div>
    <a href="" class="title-arrow-down">
      <i class="fa-solid fa-arrow-down"></i>
    </a>
  </section>
  <section class="bg-silver text-erieblack contentsection" id="contentStart">
    <h2>
      <i class="fab fa-wordpress"></i>
      Was kann ein Wordpress-Programmierer?
    </h2>
    <p>
      <img
        alt="Wordpress-Experte und Programmierer"
        class="my-2 img-fluid rounded float-end d-none d-lg-block d-xl-block"
        src={wpcoder2.src}
      />
      Viele Anwender nutzen Wordpress als CMS und nutzen Dienstleister, die sich
      auf die Verwaltung der Software und das Entwickeln von Webseiten beschränkt
      haben. Um Wordpress aber zu erweitern, braucht es tiefere Kenntnisse. Ein
      <strong>Wordpress-Experte</strong>
      kann deutlich mehr, als nur Plugins installieren:
      <br />
      Er entwickelt eigenständig Themes und Plugins oder individuelle Post Types
      und Grids und kann Wordpress auch über den normalen Funktionsumfang über die
      Nutzung von Plugins hinaus erweitern.
    </p>
    <p><ul class="">
      <li>Entwickeln von Custom-Themes</li>
      <li>
        Schnittstellen-Programmierung zu APIs oder anderen Portalen und
        Systemen:
        <ul>
          <li>z.B. eine Importschnittstellen</li>
          <li>Schnittstelle zu Immobilienportalen</li>
          <li>
            oder Programmierung von Daten-Export von WordPress zu externen
            Systemen
          </li>
        </ul>
      </li>
      <li>
        Anpassung von gekauften Themes mittels Child-Theme mit
        HTML/PHP/JavaScript/SASS
      </li>
      <li>Entwicklung von Wordpress-Plugins</li>
      <li>
        Entwicklung individueller Content Types und Suchsysteme mit z.B. dem
        <a href="https://pods.io/" target="_blank">PODS Framework</a>
        (zB für Projekte, Mitarbeiter-Verwaltungen oder Automodelle)
      </li>
      <li>Erweiterung von Wordpress als Programmierframework</li>
    </ul>
</p>
    <ButtonBlock
      title="Wordpress Wartung"
      route="/wordpress/wartung"
      icon="fa fa-question-circle"
      color="erieblack"
    />
  </section>

  <section class="bg-silver text-erieblack contentsection">
    <h2>
      <i class="fab fa-wordpress"></i>
      High Speed Wordpress
    </h2>
    <p>
      Wordpress-Entwickler haben das Wissen, Wordpress deutlich schneller zu
      machen und eigene Themes zu programmieren!<br />
      Denn nutzt man bei Wordpress Kauf-Themes (zB Multi Purpose Themes), wie es
      sie auf dem Markt zu Tausenden gibt, hat man zwar den Vorteil, dass diese Themes
      unter Umständen schell verwendbar sind, aber auch auch die Seite deutlich verlangsamen.
      Hinzu kommen sogenannte "Pagebuilder", wie zB WP-Bakery oder auch Elementor,
      welche oft mit diesen Themes vertrieben werden.<br />
      Diese Software-Produkte können einen echten Nutzen haben und lohnen sich vor
      allem für kleinere Seiten mit wenig Budget, um schnelle Ergebnisse zu bekommen.
      Möchte man als Unternehmen allerdings ein ein Custom-Theme entscheiden. Diese
      werden "from Scratch" neu entwickelt und genau auf die Bedürfnisse des Kunden
      abgestimmt. Auch von der Nutzung von Pagebuildern ist in dem Fall abzuraten,
      weil mit Ihnen immer eine weiter Rendering-Schritt einhergeht und die Seite
      zusätzlich unter Last stellt.
    </p>
  </section>

  <section class="bg-silver text-erieblack contentsection">
    <h2>
      <i class="fab fa-wordpress"></i>
      Wordpress-Entwickler - Die Leistungen
    </h2>
    <p>
      <img
        alt="Wordpress-Experte und Programmierer"
        class="ml-3 img-fluid rounded float-endd-none d-lg-block d-xl-block"
        src={wpcoder.src}
      />
    </p><ul class="m-3">
      <li>
        Programmierung von umfangreichen
        <strong>Unternehmens-</strong>
        und
        <strong>Konzernwebsites</strong>
        mit WordPress
      </li>
      <li>
        Entwicklung von professionellen
        <strong>Onlineshops</strong>
        mit WordPress (WooCommerce)
      </li>
      <li>
        <strong>Schnittstellen</strong>&nbsp;zu externen APIs und Sytemen mit
        WordPress programmieren
      </li>
      <li>
        Importscripts für WordPress programmieren (z.B. Unix-Cronjobs, WP-Cron)
      </li>
      <li>
        <strong>Themes kundenorientiert programmieren</strong>
      </li>
      <li>Plugins entwickeln und programmieren</li>
      <li>Programmierung von Child Themes und Custom-Themes</li>
      <li>
        WP-Programmierer z.B. für
        <ol>
          <li>Custom Post Types</li>
          <li>Custom Widgets</li>
          <li>Individuelle Themes</li>
          <li>Webshops mit WordPress</li>
          <li>Integrationsplugins von Drittsoftware</li>
        </ol>
      </li>
    </ul>
    <ButtonBlock
      title="Wordpress Info"
      route="/wordpress/entwicklung"
      icon="fa fa-question-circle"
      color="erieblack"
    />
  </section>

  <section class="bg-silver text-erieblack contentsection">
    <h2>
      <i class="fab fa-wordpress"></i>
      Fundierte in den Basistechnologien
    </h2>
    <p>
      Wordpress wurde entworfen, damit es jedermann mit EDV-Kenntnissen bedienen
      kann. Wordpress wurde auch für Administratoren entworfen, die über keine
      Programmierkenntnisse verfügen, aber trotzdem ein CMS administieren
      möchten. Grundsätzlich ist die Bedienung von Wordpress also sehr einfach
      und übersichtlich und es sind keine tiefergehenden Kenntnisse vonnöten.
      Möchte man Wordpress aber erweitern oder komplexe, skalierbare und
      responsive Anwendungen damit entwicklen, kommt man an den von Wordpress
      verwendeten Basis-Technologien kaum vorbei. Ohne diese Technologien und
      dem fundierten Wissen, wie man diese verwendet, ist keine Erweiterung von
      Wordpress möglich.
    </p>
    <p><ul>
      <li>Webserver-Technologien wie zB Apache oder Nginx</li>
      <li>mySQL oder MariaDB</li>
      <li>PHP 7/8</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>SASS</li>
      <li>React</li>
    </ul>
</p>
    <ButtonBlock
      title="Jetzt unverbindliche Beratung anfordern"
      route="/kontakt"
      icon="fa fa-question-circle"
      color="erieblack"
    />
  </section>
  <Footer />
</Layout>
